html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;

}

header {
	text-align: center;
	margin-bottom:15px;
}

header h1 {
	font-size: 60px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	color: #607D8B;
}

.main{
	min-width: 300px;
	padding:10px;
	max-width: 300px;
	margin: 0 auto;
}

.resultat{
	display: block;
	width: 100%;
}


.resultat>div{
	position : relative;
	max-height: 100px;
}

.resultat>div>input{
	border:0px;
	padding:10px;
	display: block;
	width: 280px;
	min-height: 50px;
	background-color: #607D8B;
	color: white;
	font-size: 28px;
}

#clear{
	position: absolute;
	background-color: #607D8B;
	right: 6px;
	top: 6px;
}


#clear>span{
	color: white;
	cursor: pointer;
}

button{
	background-color: #F1F8E9;
	display:inline-block;
	width: 25%;
	height: 65px;
	border: 1px solid #607D8B;
	font-size: 18px;
	font-weight: bolder;
}

.opeButton{
	background-color: #4CAF50!important;
	color:white!important;
}


button:focus {
	outline:0 !important;
}
button:active {
	background-color: #607D8B !important;
	color:white!important;
}



footer{
	margin-top:30px;
	text-align: center;
}


















